/* Estilos generales */
body {
  font-family: 'Tilt Neon', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000910;
  color: rgb(255, 255, 255);
}

.viewtrailer{
  min-height: 740px;
  background-size: cover;
  background-position:center; 
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
}

.container-info {
  background: rgb(0, 9, 16);
  background: linear-gradient(0deg, rgba(0, 9, 16, 1) 0%, rgba(255, 255, 255, 0) 100%);
  width: 100vw;
}

@keyframes animacion-boton {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.boton {
  background-color: #000910;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;

  opacity: 0;
  transform: translateX(20px);
  animation: animacion-boton 0.5s ease forwards;
  animation-delay: 0.75s;
}

.reproductor{
  width: 75%;
  height: 500px;
}

@keyframes animacion-banner {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.banner-info {
  opacity: 0;
  transform: translateX(20px);
  animation: animacion-banner 0.5s ease forwards;
  animation-delay: 0.5s;
}

.movie-description{
  width: 50%;
  text-align: justify;
}

.container {
  padding: 20px;
}

h3{
  margin: 2.5% 0;
  font-size: 150%;
}

h3 i{
  color: rgb(25, 55, 90);
}

/* ------------- MOVIE CARD -------- */

.movie-card{
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;

  margin-bottom: 3%;

  height: 420px;
  padding: 0;
  display: flex;
}

.movie-card:hover{
  border: 2px solid white;
  border-radius: 20% 0;
  background-size: 100%;
  transition: 0.5s ease;
}

/*--- DISPLAY ---*/

.show{
  display: block;
}

.none{
  display: none;
}

 /*---------------- HEADER APP ----------------*/

.header{
  background: rgb(0,9,16);
  background: linear-gradient(180deg, rgba(0,9,16,1) 0%, rgba(255,255,255,0) 100%);

  width: 100vw;
  position: fixed;
  top: 0;

  z-index: 1000;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  max-height: 75px;
}

.app-title{
  font-size: 300%;
}

a{
  color: white;
  text-decoration: none;
}

nav{
  min-width: 35%;
}

ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  padding: 0;
}

li{cursor: pointer  ;}

h2{
  font-size: 250%;
}

form i{
  margin-top: 3.5%;
  font-size: 150%;
}

form{
  display: flex;
  justify-content: flex-end;
}

.search{
  width: 50vw;
  margin-bottom: 1.25%;
}

@keyframes aparecer-x {
  from {
    opacity: 0;
    transform: translateX(75px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }

}@keyframes aparecer-y {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  font-size: 120%;
  color: white;
  padding: 0 4%;
  border: none;
  background-color: transparent;
  margin-right: 4%;
  width: 100%;
  border-bottom: 3px solid white;
  border-radius: 2.5px;
  animation: aparecer-x 0.5s ease forwards;
}


input:focus {
  outline: none;
}

/* ---------------- MOVIL VIEW -------------- */

@media (max-width: 1199.5px){
  
  /* ----- CARD ----- */

  .movie-card{
    height: 320px;
  }
}

@media (max-width: 991.5px){

  /* ----- HEADER ----- */

  ul{
    margin: 2% 5%;
  }

  li{
    margin-bottom: 10%;
  }

  .title{
    position: fixed;
    top: 2%;
    left: 25%;
    width: 50%;

    text-align: center;
  }

  .app-title{
    font-size: 250%;
  }

  form i{
    margin-top: 0;
    top: 4%;
    left: 88.5%;
    position: fixed;
  }

  input{
    text-align: center;
    padding-bottom: 1%;
    left: 12.5%;
    top: 80px;
    width: 75%;
    position: fixed;
    animation: aparecer-y 0.5s ease forwards;
  }

  /* ----- BANNER ----- */

  .viewtrailer{
    min-height: 672px;
  }

  .boton{
    padding: 7.5px 12.5px;
  }

  .movie-description{
    width: 100%;
  }

  .reproductor{
    width: 100%;
    height: 400px;
  }

  /* ----- CARD ----- */

  .movie-card{
    height: 240px;
  }
}

@media (max-width: 767.5px){

  /* ----- CARD ----- */

  .movie-card{
    width: 50%;
    height: 355px;
    margin-bottom: 5%;
  }
}

@media (max-width: 575.5px){

  /* ----- CARD ----- */

  .movie-card{
    background-size: 90%;
    height: 245px;
  }
}

@media (max-width: 440px){
  .title{
    left: 1%;
  }

  .app-title{font-size: 200%;}

  form i{
    font-size: 120%;
    left: 87.5%;
  }

  input{
    top: 67.5px;
  }
}